.about {
  color: aliceblue;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://th.bing.com/th/id/R.4ca20487750417838435a15debdbede2?rik=YlAoJnOsSiBVmg&riu=http%3a%2f%2fsneakerhdwallpapers.com%2fwallpapers%2f2016%2fnike-2016-allstar-shoes-wallpaper.jpg&ehk=Kzfuomz8ekKDlv0Kni6zYeS5v1bdwOxZCL6FvQXTYDc%3d&risl=&pid=ImgRaw&r=0');
}
