.footer {
  width: 100%;
  height: 150px;
  background-color: #a7a5a5;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction:row-reverse;
  padding-top: 100px;
}

.socialMedia  {
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 10px;
  text-align: center;
}

.footer p {
  color: rgb(246, 238, 238);
 padding: 15px;
}

